<li id="page_Portfolio">
	<div class="box1">
		<div class="inner">
			<a href="#" class="close" data-type="close"><span></span></a>
			<div class="wrapper tabs" >

				<!-- Lineas de colectivos -->
				<div class="tab-content" id="Fashion"  >
					<h2>Lineas</h2>
					<%= render 'schedules_bus' %>
				</div>
				<!-- Fin lineas de colectivos -->		
			</div>
		</div>
	</div>
</li>