<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_1_red.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/red_bus_1.png" alt=""></a></figure>

		<figure class="left"><a href="/assets/schedules/line_1_green.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/green_bus_1.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_2_red.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/red_bus_2.png" alt=""></a></figure>

		<figure class="left"><a href="/assets/schedules/line_2.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_2.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_3.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_4.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_5.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_6.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_7.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/red_bus_8.png" alt=""></a></figure>
</div>


<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/green_bus_8.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/red_bus_9.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/green_bus_9.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_10.png" alt=""></a></figure>
</div>


<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_11.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_12.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_13.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_14.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_15.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_16.png" alt=""></a></figure>
</div>


<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_17.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_18.png" alt=""></a></figure>
</div>

<div class="wrapper">

		<figure class="left marg_right1"><a href="/assets/schedules/line_10.png" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span> <img src="/assets/bus_a.png" alt=""></a></figure>

		<figure class="left"><a href="images/big_img2.jpg" class="lightbox-image" data-type="prettyPhoto[group2]"><span></span><img src="/assets/bus_h.png" alt=""></a></figure>
</div>