<li id="page_Services">
	<div class="box1">
		<div class="inner">
			<a href="#" class="close" data-type="close"><span></span></a>
			<div class="wrapper pad_bot3">
				<h2>Services</h2>
				<div class="col1">
					<ul class="list2">
						<li><a href="#">Temporibus autem quibusdam etaut</a></li>
						<li><a href="#">Necessitatibus saepe eveniet</a></li>
						<li><a href="#">Uteautem volupttes repudiandae molestiae</a></li>
						<li><a href="#">Gon recusandae taque earum rerum</a></li>
						<li><a href="#">Auteiciendis voluptatibus maiores</a></li>
					</ul>
				</div>
				<div class="col1 pad_left1">
					<ul class="list2">
						<li><a href="#">Eveniet et voluptates repudiandae</a></li>
						<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
						<li><a href="#">Accusantium doloremque laudantium </a></li>
						<li><a href="#">Eaque ipsa quae ab illo inventore veritatis </a></li>
						<li><a href="#">Beatae vitae dictsunt explicabo</a></li>
					</ul>
				</div>
			</div>
			<h2>About My Works</h2>
			<div class="wrapper pad_bot3">
				<figure class="left marg_right1"><img src="images/page4_img1.jpg" alt=""></figure>
				<p class="color1 pad_bot2"><strong>Abour Recent Exhibition</strong></p>
				<p>Cupiditate noprovident similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.</p>
			</div>
			<div class="wrapper pad_bot3">
				<figure class="left marg_right1"><img src="images/page4_img2.jpg" alt=""></figure>
				<p class="color1 pad_bot2"><strong>New Tecnologies</strong></p>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
			</div>
			<div class="wrapper">
				<figure class="left marg_right1"><img src="images/page4_img3.jpg" alt=""></figure>
				<p class="color1 pad_bot2"><strong>Creative Ideas</strong></p>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et ident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et voluptates repudiandae sint et molestiae.</p>
			</div>
		</div>
	</div>
</li>