<footer>
	<div class="bg_spinner"></div>
	<ul class="pagination">
		<li class="current"><a href="/assets/bg_img1.jpg">1</a></li>
	</ul>
	<div class="col_1">
		<a href="index.html" id="footer_logo">Thom Sander</a> Copyright 2011
	</div>
	<div class="col_2">
		Designed by <a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">TemplateMonster.com</a> | <a rel="nofollow" href="http://www.html5xcss3.com/" target="_blank">html5xcss3.com</a>
		<!-- {%FOOTER_LINK} -->
	</div>
</footer>