<header>
	<h1><a href="index.html" id="logo">Thom Sander Photographer’s Portfolio</a></h1>
	<nav>
		<ul id="menu">
			<li><a href="#!/page_Home"><span></span><strong>Home Page</strong></a></li>
			<li><a href="#!/page_About"><span></span><strong>Nosotros</strong></a></li>
			<li><a href="#!/page_Portfolio"><span></span><strong>Horarios</strong></a></li>
			<li><a href="#!/page_Services"><span></span><strong>Mis Horarios</strong></a></li>
			<li><a href="#!/page_Contact"><span></span><strong>Contactos</strong></a></li>
		</ul>
	</nav>
</header>